/* color palette from <https://github.com/vuejs/theme> */
:root {
  --button-color: #007bff;
  --selected-element-color: hsl(214, 63%, 94%);
  --grey: #666;
  --leight-grey: #eee;
}

/* semantic color variables for this project */
:root {
  
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  
}
